@using ContractManager.Enums;
@using Newtonsoft.Json;


@{
    string cssClass = string.Empty;
    var uiMessages = JsonConvert.DeserializeObject<List<UiMessage>>((TempData[Constants.TempData.UI_MESSAGES] as string) ?? string.Empty);
    var uiMessage = uiMessages?.OrderBy(_ => _.Status)?.FirstOrDefault();
    if (uiMessage != null)
    {
        switch (uiMessage.Status)
        {
            case UiMessageStatusType.Info:
                cssClass = "alert alert-info";
                break;
            case UiMessageStatusType.Warning:
                cssClass = "alert alert-warning";
                break;
            case UiMessageStatusType.Error:
                cssClass = "alert alert-danger";
                break;
            case UiMessageStatusType.Success:
                cssClass = "alert alert-success";
                break;
        }
    }
}

@if (uiMessage != null)
{
    <div class="@cssClass">
        <label>@uiMessage.Message</label>
    </div>
}